---
http_interactions:
- request:
    method: get
    uri: https://mockbin.org/valid
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: |-
        {
        "ads":
            [
                {
                    "reference": "1",
                    "status": "enabled",
                    "description": "Description 1"
                },
                {
                    "reference": "2",
                    "status": "disabled",
                    "description": "Description 2"
                }
            ]
        }
  recorded_at: Mon, 27 May 2019 17:04:12 GMT
recorded_with: VCR 4.0.0
